<!DOCTYPE HTML>
<HTML lang = "en">

  <head>
    <meta charset="utf-8">
    <title> Compliments</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
  </head>

  <body>
      <h1>
        <%= yield%>
      </h1>
  </body>




</html>