%h1 Glad you could make it!
-if @spacecats.empty?
  %h1 No SpaceCats here yet!
-else
  - @spacecats.each do |cat|
    ="#{cat.name} is from #{cat.home_planet} and says #{cat.tagline} when #{cat.superpower}"