<!DOCTYPE HTML>
<html lang = "en">

  <head>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title> Playlister</title>
  </head>

  <body>
    <%= yield%>

  </body>

</html>